.navbar,
 :before,
 :after {
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #e5e7eb;
}

.nav-link {
    position: relative;
    color: gray;
    font-weight: 400;
    cursor: pointer;
    margin: 0.5rem;
}

video {
    height: 300px;
}

.poppins-regular {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
}

.about-us {
    padding: 2%;
    width: 50%;
}

#about-us {
    margin: 0;
    margin-top: 3%;
}

.bg-image {
    background-image: url('./solutions-main.png');
    background-size: cover;
    height: 500px;
    margin-top: 10px;
    width: 500px;
    background-repeat: no-repeat;
}

.dropdown-menu {
    height: 700px;
    left: 0;
    top: 100%;
    width: 100vw;
    z-index: 999;
    display: none;
    padding: 0;
}

.services-sub-menu {
    padding: 5% 100px 50px;
    list-style-type: none;
    text-align: left;
    li {
        display: flex;
        justify-content: left;
        margin-bottom: 20px;
        margin-left: 30%;
        padding-bottom: 20px;
        width: 100%;
        padding: 8px;
        a {
            color: white;
            font-size: 14px;
        }
        a:hover {
            color: grey;
            font-size: 20px;
        }
    }
}

.bg-video {
    height: 600px;
    /* width: 100%; */
}

.menu-inner {
    align-items: flex-start;
    background-color: #052d46;
}

ul .services-sub-menu li strong {
    display: block;
    font-family: var(--PoppinsRegular);
    font-size: 1.2em;
    font-weight: 500;
    /* line-height: 1.4em; */
    /* padding-bottom: 10px; */
}